/* base */
body{
    font-size: 16px;
}

img{
    width: 100%;
}

section{
    padding: 40px 0;
}

h2{
    text-align: center;
    padding: 10px
}

a:hover{
    color: aqua;
}

.content{
    width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.content-wide{
    width: 880px;
    margin: 0 auto;
    padding: 40px;
}


/* header */
.header{
    position: fixed;
    color: white;
    width: 100%;
    transition: .3s;
    z-index: 2;
}

.header .float-active{
    transition: .3s;
    background: black;
}

nav{
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.logo{
    width: 300px;
    height: 100px;
    font-size: 50px;
    float: left;
    margin: 20px;
}

/* responsive */
/* .nav-menu{
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(192, 192, 192, 0.8);
    width: 100%;
    padding: 50px 0;
    transition: 0.5s;
}

.nav-menu .active{
    transition: .5s;
    transform: translateX(-100%);
    z-index: 2;
} */

ul{
    margin: 50px 20px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-item{
    margin-right: 15px;
}

/* responsive */
/* .menu{
    display: block;
}

.menu-item{
    margin-right: initial;
}

.menu-link{
    display: block;
    padding: 10px;
    text-align: center;
} */

.menu-trigger{
    display: none;
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;
}

.menu-trigger span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1){
    top: 0;
}

.menu-trigger span:nth-of-type(2){
    top: 14px;
}

.menu-trigger span:nth-of-type(3){
    bottom: 0;
}


.menu-trigger .active span:nth-of-type(1){
    transform: translateY(12px) rotate(-45deg);
}
.menu-trigger .active span:nth-of-type(2){
    opacity: 0;
}
.menu-trigger .artive span:nth-of-type(3){
    transform: translateY(-15px) rotate(45deg)
}
/* responsive */
/* .menu-trigger{
    display: inline-block;
} */


.hero{
    background-image: url(./img/cafe1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/* about */
#about{
    background: #F6F6F6;
}

.container-body{
    width: 500px;
    margin: 0 auto;
}

#about p{
    margin: 40px 0;
}

.youtube{
    width: 400px;
    height: 280px;
    margin: 0 auto;
    padding: 50px;
}

/* menu */
#menu{
    height: 1100px;
}

.item{
    height: 230px;
    margin: 100px 0;
    border: 3px solid black;
    box-sizing: border-box;
}

.item h3{
    font-size: 24px;
    text-decoration: underline;
}

.item p{
    margin: 20px 0;
}

.item img{
    height: 224px;
}

.item-1_body, .item-3_body{
    width: 500px;
    height: 224px;
    padding: 30px;
    float: left;
    box-sizing: border-box;
}

.item-1_img, .item-3_img{
    width: 350px;
    height: 224px;
    float: right;
    box-sizing: border-box;
}

.item-2_body{
    width: 500px;
    padding: 30px;
    float: right;
    box-sizing: border-box;
}

.item-2_img{
    width: 350px;
    height: 224px;
    float: left;
    box-sizing: border-box;
}


/* price */
#price{
    height: 500px;
    background:#F6F6F6;
}

#price h2{
    text-align: center;
}

#price p{
    margin: 10px 50px;
}

table{
    border: 1px  solid black;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}

th{
    width: 300px;
    height: 40px;
    border: 1px dotted black;
    font-weight: normal;
}

td{
    width: 400px;
    height: 40px;
    text-align: center;
    border: 1px dotted black;
}


/* member */
#member{
    height: 500px;
}

#member .content{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 40%;
}

.card-header{
    height: 220px;
}

.card img{
    height: 220px;
}

.card-body{
    margin-top: 20px;
}

/* access */
#access{
    height: 800px;
    background: #F6F6F6;
}


.map{
    margin: 0;
    padding: 30px 0;
}

.addr{
    margin: 0;
    padding: 30px 0;
}
/* contact */
#contact{
}

/* sns */
.sns-group{
    height: 50px;
    background: #ccc;
}

.sns{
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    line-height: 30px;
    float: left;
    margin: 0 40px;
}

.sns:hover{
    background: white;
}

/* footer */
.footer{
    background: #ccc;
    font-size: 12px;
}

.copyright{
    text-align: center;
}
