/* Theme:yorudake
Author:yorudake
Version:1.0
Description:test */

/* base */
body{
    font-size: 18px;
}

@media screen and (max-width: 870px) {
         body {
            font-size: 24px;
        }
}

img{
    width: 100%;
}

section{
    padding: 40px 0;
}

h2{
    text-align: center;
    padding: 10px
}

a:hover{
    color: rgb(240, 223, 125);
}

.content{
    width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.content-wide{
    width: 880px;
    margin: 0 auto;
    padding: 40px;
}


/* header */
.header{
    position: fixed;
    color: white;
    width: 100%;
    transition: .3s;
    z-index: 2;
}

.header.float-active{
    transition: .3s;
    background: rgba(204, 204, 204, 0.8);
}

nav{
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.logo{
    width: 300px;
    height: 80px;
    font-size: 50px;
    float: left;
    margin: 20px;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 870px) {
.nav-menu{
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(192, 192, 192, 0.8);
    width: 100%;
    padding: 50px 0;
    transition: 0.5s;
}
.nav-menu.active{
    transition: .5s;
    transform: translateX(-100%);
    z-index: 2;
    height: 600px;
    font-size: 30px;
}
}


ul{
    margin: 50px 20px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-item{
    margin-right: 15px;
}

/* responsive */
@media screen and (max-width: 870px) {
.menu{
    display: block;
}

.menu-item{
    margin-right: initial;
}

.menu-link{
    display: block;
    padding: 20px 0;
    text-align: center;
} 
}


.menu-trigger{
    display: none;
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;
}

/* responsive */
@media screen and (max-width: 870px) {
    .menu-trigger{
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 50px;
}
}

.menu-trigger span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1){
    top: 0;
}

.menu-trigger span:nth-of-type(2){
    top: 14px;
}

.menu-trigger span:nth-of-type(3){
    bottom: 0;
}


.menu-trigger.active span:nth-of-type(1){
    transform: translateY(12px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2){
    opacity: 0;
}
.menu-trigger.active span:nth-of-type(3){
    transform: translateY(-15px) rotate(45deg);
}

/* swiper */
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
  }
   
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
   
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
   
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
   
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
   
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
  }
  

/* hero */
.hero{
    background-image: url(./img/cafe1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    overflow: hidden;
}


br {
    display: none;
}
/* responsive */
@media screen and (max-width: 870px) {
    br {
        display: block;
    }
}

/* about */
#about{
    background:rgba(241, 232, 178, 0.2);
}

.container-body{
    width: 500px;
    margin: 0 auto;
}
/* responsive */
@media screen and (max-width: 870px) {
    .container-body {
        width: 100%;
    }
    #about p{
        margin: 60px 0;
    }
}

#about p{
    margin: 40px 0;
}
/* responsive */
@media screen and (max-width: 870px) {
    #about p{
        margin: 80px 0;
    }
}

.youtube{
    width: 400px;
    height: 280px;
    margin: 0 auto;
    padding: 50px;
}

/* menu */
#menu{
    height: 1200px;
}

.item{
    width: 880px;
    height: 229px;
    margin: 100px 0;
    border: 3px solid black;
}

.item h3{
    font-size: 24px;
    text-decoration: underline;
}

.item p{
    margin: 20px 0;
}
@media screen and (max-width: 870px) {
    .item p {
        margin: 5px 0;
   }
}

.item img{
    height: 230px;
}

.item-1_body, .item-3_body{
    width: 500px;
    height: 230px;
    padding: 30px;
    float: left;
    box-sizing: border-box;
}

@media screen and (max-width: 870px) {
    .item-1_body, .item-3_body {
        width: 530px;
        padding: 15px;
        margin: 0;
   }
}

.item-1_img, .item-3_img{
    width: 350px;
    height: 230px;
    float: right;
    box-sizing: border-box;
}

.item-2_body{
    width: 500px;
    height: 230px;
    padding: 30px;
    float: right;
    box-sizing: border-box;
}

@media screen and (max-width: 870px) {
    .item-2_body{
        padding: 15px;
        margin: 0;
   }
}

.item-2_img{
    width: 350px;
    height: 230px;
    float: left;
    box-sizing: border-box;
}


/* price */
#price{
    height: 500px;
    background:rgba(241, 232, 178, 0.2);
}

#price h2{
    text-align: center;
}

#price p{
    margin: 10px 50px;
}

table{
    border: 1px  solid black;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}

th{
    width: 300px;
    height: 40px;
    border: 1px dotted black;
    font-weight: normal;
}

td{
    width: 400px;
    height: 40px;
    text-align: center;
    border: 1px dotted black;
}


/* member */
#member{
    height: 500px;
}

#member .content{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 40%;
}

.card-header{
    height: 220px;
}

.card img{
    height: 220px;
}

.card-body{
    margin-top: 20px;
}

/* access */
#access{
    height: 800px;
    background:rgba(241, 232, 178, 0.2);
}


.map{
    margin: 0;
    padding: 30px 0;
}

.addr{
    margin: 0;
    padding: 30px 0;
}
/* contact */
#contact{
}

/* sns */
.sns-group{
    height: 50px;
    background: rgba(192, 192, 192, 0.8);
    text-align: center;
}

.sns{
    margin: 0 20px;
    font-size: 30px;
    align-items: center;
}

.fab:hover{
    color: rgb(240, 223, 125);
}

/* footer */
.footer{
    background: rgba(192, 192, 192, 0.8);
    font-size: 12px;
}

.copyright{
    text-align: center;
}
